<div class="todo holder" *ngFor="let todo of todos">
  <div class="todo tcard col-md-6">
    <h3 class="todo title">
      {{todo.title}}
    </h3>
    <!-- <div class="todo desc">
      Description: {{todo.description}}
    </div> -->
    <div class="todo cat">
      Category: {{todo.category}}
    </div>
    <!-- <div class="todo due-date">
      Due date: {{todo.dueDate | date: 'dd MMMM yyyy'}}
    </div> -->

    <!-- <div class="todo is-complete"></div> -->
    <div [className]="todo.isComplete ? 'todo is-complete' : 'todo to-complete'">
      <div class="todo.complete">{{todo.isComplete ? "Completed" : "Incomplete"}}</div>
    </div>
    <div class="todo expand">
      <i class="fa fa-chevron-right"></i>
    </div>
    <!-- <div *ngFor="let category of categories">{{category.name}}</div> -->
    <!-- <select name="" id="">
    <option *ngFor="let todo of todos" [value]="todo.id">
      {{todo.title}}
    </option>
  </select> -->
  </div>
  <div class="todo editor">
    <input type="text">

  </div>
</div>
<div class="todo add">
  <i class="fa fa-plus"></i>
</div>